body{
    min-height: 100vh;
    width:100%;
    margin:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

#header{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    list-style: none;
    gap: 16px;
}
.link>a{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}


/* CONTENT */

#content{
    display: flex;
    flex-direction: column;

}
.hero-section{
    display: flex;
    background-color: #1F2937;
    width: 100%;   
    justify-content: center;
    align-items: center;
}
.hero-content{
    padding: 32px;
    width: 70%;

    display: flex;

    column-gap: 16px;
}
.hero-text{
    color:#F9FAF8;
    min-width: 200px;
}
.hero-text>h1,
.hero-text>p{
    margin: 5px 0px 5px 0px;
}
.hero-text>p{
    color: #e5e7ebd8;
}
.hero-text>button{
    padding: 8px 24px;
    background-color: #3382F6;
    color: #F9FAF8;
    border:#3382F6;
    border-radius: 8px;
}
.hero-img{
    display: flex;

}
.hero-img>img{
    flex: 1,1,auto;
    width: 500px;
    height: 300px;
}

.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    margin-top: 16px;
}
.info-boxes{
    display: flex;
    margin-top: 16px;
    margin-bottom: 100px;
}
.info-box-module{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-box{
    width: 100px;
    height: 100px;
    border:2px solid #3382F6;
    border-radius: 10px;
}
.info-box-content{
    text-align: center;
}
.info-box>img{
    display: inline-block;
    height: 100px;
    border-radius: 8px;
}

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quote-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
   
}
.quote-text{

    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}
.quote-subtext{
    display: flex;
    align-self: flex-end;
    margin-right: 48px;
    margin-top: -56px;
    font-weight: 700;
}

.call-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-content{
    display:flex;
    gap: 32px;
    align-items: center;
    background-color: #3382F6;
    color:#E5E7EB;
    margin: 48px;
    padding: 8px 64px;
    border-radius: 6px;
}
.call-text>p{
    font-size: 10px;
    color: #E5E7EB;
}
.call-text>h4{
    margin: 0px;
}
.call-button>button{
    background-color: #3382F6;
    border: 2px solid #E5E7EB;
    padding: 6px 8px;
    color: #E5E7EB;
    border-radius: 8px;
}


/* FOOTER */

#footer{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    font-size: 18px;
    color:#E5E7EB;
}