body{
    min-height: 100vh;
    width:100%;
    margin:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* HEADER */

#header{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    list-style: none;
    gap: 16px;
}
.link>a{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}


/* CONTENT */

#content{
    display: flex;
    flex-direction: column;

}
.hero-section{
    display: flex;
    background-color: #1F2937;
    width: 100%;   
    justify-content: center;
    align-items: center;
}
.hero-content{
    padding: 32px;
    width: 70%;

    display: flex;

    column-gap: 16px;
}
.hero-text{
    color:#F9FAF8;
    min-width: 200px;
}
.hero-text>h1,
.hero-text>p{
    margin: 5px 0px 5px 0px;
}
.hero-text>p{
    color: #e5e7ebd8;
}
.hero-text>button{
    padding: 8px 24px;
    background-color: #3382F6;
    color: #F9FAF8;
    border:#3382F6;
    
}
.hero-img{
    display: flex;

}
.hero-img>img{
    flex: 1,1,auto;
    width: 500px;
    height: 300px;
}


/* FOOTER */

#footer{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    font-size: 18px;
    color:#E5E7EB;
}